.blog-bc {
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #FFFBF9;
    padding: 30px;
}

.blog-bc .blog-width {
    width: 95%;
    margin: auto;
}

.blog-bc .blog-width h1 {
   padding-top: 30px;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
}